<?xml version="1.0" encoding="utf-8"?>
<!--
# This file is part of the pl.wrzasq.lambda.
#
# @license http://mit-license.org/ The MIT license
# @copyright 2018 - 2019 © by Rafał Wrzeszcz - Wrzasq.pl.
-->
<configuration scan="true">
    <!-- stdout output -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%thread] %-5level %logger - %msg%n%ex{full}</pattern>
        </encoder>
    </appender>

    <!-- our logger instances -->
    <logger name="com.amazonaws">
        <level value="INFO"/>
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="com.sunrun.cfnresponse">
        <level value="INFO"/>
        <appender-ref ref="CONSOLE"/>
    </logger>
    <logger name="pl.wrzasq">
        <level value="INFO"/>
        <appender-ref ref="CONSOLE"/>
    </logger>
</configuration>
